@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap);
body {
	font-family: Montserrat, sans-serif!important
}
.section1 {
	max-height: 100vh;
	overflow: hidden
}
header {
	box-shadow: 0 1px 3px #aaa
}
a.head-link {
	color: #343c48;
	border: 2px solid #343c48;
	padding: 0.8em 1em;
	border-radius: 7px;
	font-weight: 600;
	transition: .5s
}
a.head-link:hover {
	background: #343c48;
	color: #fff;
	text-decoration: none
}
header .head-logo img.header-logo {
	padding: 1em 0
}
header .header-right {
	padding-right: 0
}
header .header-right p.text-right-content {
	padding: 15px 0;
	margin-bottom: 0;
    display: flex;	
	float: right;
	margin-right: 5em
}
#app-link a.head-link:nth-child(1), #app-link a.head-link:nth-child(2) {
    display: block !important;
}
#app-link a.head-link {
    display: none;
}
@media(min-width:992px) {
a.head-link {
	min-width: 150px;
    margin: 0px 0.5em;
    text-align: center;
    display: flow-root;
}
.mobile-view {
	display: none!important
}
.mail-page input.email_request {
	margin: 6em 0
}
#myCarousel .col-lg-6>form>.tab>.intl-tel-input {
	margin: 6em 0
}
input#mobile-number:focus {
	outline: 0
}
.success-msg {
	font-size: 21px;
	width: 60%;
	line-height: 3
}
}
.intl-tel-input .flag-dropdown {
	margin: 1em 0
}
input#mobile-number {
	padding: 0 0 0 40px;
	height: 60px;
	max-width: 540px;
	font-size: 20px;
	color: #343c48;
	border: 1px solid #ddd
}

@media(max-width:991px) {
.intl-tel-input {
	margin: 1em 0
}
.success-msg {
	font-size: 21px;
	width: 100%;
	line-height: 3
}
header .col-lg-4.head-logo {
	text-align: center;
	padding: 0
}
header .header-right {
	display: none
}
header .head-logo img.header-logo {
	padding: .5em 0;
	transform: scale(.8)
}
.desktop-view {
	display: none!important
}
section .section1 .section-head-1 p.heading {
	line-height: .5
}
section .s1-mobile-heading p.heading {
	width: fit-content
}
section .s1-mobile-heading p.heading span {
	font-size: 35px;
	font-weight: 600;
	padding: 1em 0
}
section .section1 .section-head-1 p.heading span:after {
	margin-top: 1em
}
.fixed-bottom>p {
	text-align: center;
	padding: 1em 0!important
}
.section1 {
	margin: 0 1em;
	overflow: auto
}
header {
	position: fixed;
	width: 100%;
	background: #fff;
	left: 0;
	z-index: 999
}
.s1-content-mobile {
	margin-top: 100px
}
.fixed-bottom>p a.s1-footer-link {
	font-weight: 700
}
.buy-page div#myCarousel {
	margin-top: 6em
}
input#filter0 {
	width: 100%
}
.buy-page section .section1 .section-head-1 p.heading {
	font-size: 23px;
	line-height: 2
}
.button-1, .button-2 {
	padding: .5em 0!important;
	text-align: center;
	width: 50%;
	min-width: unset!important
}
input.email_request {
	margin: 1em 0
}
input.email_request, input.email_request:focus {
	width: 100%!important
}
div#example_wrapper .row .col-sm-12 {
	width: 100%!important
}
}
#example tbody tr td a {
	color: #000
}
#example tbody tr td a:hover {
	text-decoration: none
}
section .section1 #myCarousel .col-lg-6:first-child {
	margin: auto 0
}
#example .table-image {
	width: 30px
}

@media(min-width:1300px) {
header .col-lg-4.head-logo {
	padding-left: 5em
}
section .section1 #myCarousel .col-lg-6:first-child {
	padding-left: 5em
}
section .section1 #myCarousel .col-lg-6 {
	padding-right: 0;
	z-index: 99999
}
header {
	height: 83px;
	top: -2px;
	position: relative
}
}
.s1-content-mobile ul {
	padding: 0
}
.s1-content-mobile ul li {
	list-style: none;
	margin: 1.5em 0
}
.s1-content-mobile ul li:last-child {
	margin-bottom: 5em
}
.s1-content-mobile ul li div p.mobile-head-title {
	font-size: 18px;
	font-weight: 600;
	padding: .5em 0 .5em 1.5em;
	border: 1px solid #e5e5e5;
	margin: 0
}
.s1-content-mobile ul li div img {
	width: 100%
}
section .section1 .section-head-1 p.heading {
	font-size: 70px;
	font-weight: 600;
	padding: 0;
	width: fit-content
}
section .s1-mobile-heading p.heading span:after, section .section1 .section-head-1 p.heading span:after {
	content: '';
	height: 6px;
	width: 100%;
	background: #e87d6d;
	display: block
}
ol.carousel-indicators {
	list-style: none;
	font-size: 25px;
	position: unset;
	justify-content: unset;
	display: unset
}
ol.carousel-indicators li {
	padding: 1em 0;
	text-indent: unset;
	transition: .5s;
	height: auto;
	width: auto;
	display: table;
	background-color: transparent
}
ol.carousel-indicators li span {
	cursor: pointer
}
ol.carousel-indicators li.active span {
	font-weight: 600
}
ol.carousel-indicators li.active {
	transform: scale(1.5);
	padding-left: 0;
	transition: .5s;
	background-color: transparent;
	display: table;
	left: 0
}
ol.carousel-indicators li:hover {
	transform: scale(1.5);
	padding-left: 0;
	transition: .5s;
	display: table
}
.carousel-inner .carousel-item .fill {
	text-align: right
}
img.slider-image {
	height: 92vh
}
.buy-page .fixed-bottom, .buy-page .fixed-bottom>p {
	background: #484848
}
.fixed-bottom {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	height: 72px;
	background: #e87d6d;
	z-index: 1030
}
.fixed-bottom>p {
	font-size: 20px;
	line-height: 1;
	background: #e87d6d;
	padding: 1.5em 1em 1em 0;
	margin: 0
}
.fixed-bottom>p a.s1-footer-link {
	color: #fff;
	position: relative
}
input.email_request, input.email_request:focus {
	border: 1px solid #e5e5e5;
	padding: 1.5em 1em;
	width: 540px;
	outline: 0
}
.button-1, .button-2 {
	width: 202px
}
.button-1 {
	color: #e87d6d;
	font-weight: 600;
	transition: .5s;
	font-size: 20px;
	background: #fff;
	padding: 1em 0;
	margin-right: .5em;
	border: 3px solid #e87d6d;
	text-align: center
}
.button-1:hover {
	color: #fff;
	text-decoration: none;
	background: #e87d6d
}
.button-2 {
	color: #fff!important;
	text-align: center;
	font-weight: 600;
	transition: .5s;
	background: #e87d6d;
	font-size: 20px;
	padding: 1em 0;
	border: 3px solid #e87d6d;
	text-decoration: none
}
.button-2:hover {
	color: #e87d6d!important;
	background: #fff;
	border: 3px solid #e87d6d;
	text-decoration: none
}
form.mail-submit>div {
	display: flex;
	max-width: 510px
}

@media(min-width:992px) {
.fixed-bottom>p:hover a {
	text-decoration: none
}
.buy-page section .section1 .section-head-1 p.heading {
	font-size: 35px
}
.mail-page section .section1 .section-head-1 p.heading {
	font-size: 42px
}
.fixed-bottom {
	padding-left: 5em
}
}
.fixed-bottom>p:hover a span {
	transition: .5s;
	transform: scale(1.2);
	display: table;
	width: 100vw
}
.fixed-bottom>p a span.mobile-view {
	width: 100%
}
.head-link i.fa {
    font-size: 22px;
    padding: 0px 7px;
}
.fixed-bottom>p a span {
	transition: .5s;
	font-weight: 600;
	padding-left: 0;
	display: table-footer-group;
	transform: scale(1);
	position: inherit
}
.fixed-bottom>p:hover a span.desktop-view {
	padding-left: 7em
}
#cryptos {
	z-index: 999999;
	background: rgba(0, 0, 0, 50%);
	border-radius: 15px;
	border: 0 solid
}
#cryptos .modal-body {
	padding: 0
}
#cryptos table {
	width: 100%
}
#cryptos .modal-content {
	border-radius: 15px
}
tbody#cryptos1>tr>td:hover>img {
	transform: scale(1.2);
	transition: .5s
}
tbody#cryptos1>tr>td img, tbody#cryptos1>tr>td>p {
	text-align: center;
	font-size: 23px;
	font-weight: 700;
	margin: 0!important;
	padding: 1.4em 0;
	transition: .5s
}
tbody#cryptos1>tr>td {
	width: 100%;
	text-align: center;
	border-top: .5px solid #e5e5e5;
	border-bottom: .5px solid #e5e5e5
}
tbody#cryptos1>tr.one>td {
	background: #e87d6d;
	color: #fff;
	border: 0
}
tbody#cryptos1>tr:first-child td {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-top: 0 solid #e5e5e5!important
}
tbody#cryptos1>tr:last-child td {
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom: 0 solid #e5e5e5!important
}
.carousel, .carousel-inner, .carousel-item, .container, .fill {
	height: 100%;
	width: 100%;
	background-position: center center;
	background-size: cover
}
.slide-wrapper {
	display: inline
}
.slide-wrapper .container {
	padding: 0
}
.carousel-inner>.carousel-item.active.carousel-item-right, .carousel-inner>.carousel-item.carousel-item-next {
	transform: translate3d(0, 100%, 0);
	-webkit-transform: translate3d(0, 100%, 0);
	-ms-transform: translate3d(0, 100%, 0);
	-moz-transform: translate3d(0, 100%, 0);
	-o-transform: translate3d(0, 100%, 0);
	top: 0
}
.carousel-inner>.carousel-item.active.carousel-item-left, .carousel-inner>.carousel-item.carousel-item-prev {
	transform: translate3d(0, -100%, 0);
	-webkit-transform: translate3d(0, -100%, 0);
	-moz-transform: translate3d(0, -100%, 0);
	-ms-transform: translate3d(0, -100%, 0);
	-o-transform: translate3d(0, -100%, 0);
	top: 0
}
.carousel-inner>.carousel-item.active, .carousel-inner>.carousel-item.carousel-item-prev.carousel-item-right, .carousel-inner>.carousel-item.next.carousel-item-left {
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	top: 0
}
.carousel-indicators {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 20px;
	right: 10px;
	left: auto;
	width: auto;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg)
}
#example tbody tr td img.table-image {
	width: 30px;
	margin: 0 1em
}
.scrollingTable {
	overflow-y: auto
}
div#example_wrapper {
	display: block!important
}
div#example_wrapper .row .col-sm-6:first-child, table#example thead {
	display: none!important
}
div#example_wrapper .row .col-sm-6:last-child {
	width: 100%;
	max-width: 568px;
	flex: unset
}
div#example_wrapper .row .col-sm-12 {
	height: 410px!important;
	overflow-y: auto;
	overflow-x: hidden;
	width: 50%;
	max-width: 568px
}
div#example_wrapper .row .col-sm-6:last-child #example_filter {
	width: 100%
}
div#example_wrapper .row .col-sm-6:last-child #example_filter label input.form-control {
	width: 100%;
	margin-left: 0!important;
	margin-right: .6em;
	border-radius: 0;
	margin-bottom: .5em;
	background: #fff;
	border: .5px solid #e5e5e5;
	padding: 1em
}
table#example {
	width: 100%!important;
	margin: unset
}

@media(min-width:1000px) {
.scrollingTable {
	width: 50%
}
input#filter0 {
	width: 50%
}
}
input#filter0 {
	height: 67px;
	background: #fff;
	border: .5px solid #e5e5e5;
	padding: 0 2em
}
#example tbody tr td {
	height: 67px;
	background: #fff;
	border: .5px solid #e5e5e5;
	padding: 0 1em
}
#example {
	width: 100%
}
.scrollingTable {
	height: 270px
}
div#example_wrapper .row .col-sm-12::-webkit-scrollbar {
width:10px
}
div#example_wrapper .row .col-sm-12::-webkit-scrollbar-track {
background:#f1f1f1
}
div#example_wrapper .row .col-sm-12::-webkit-scrollbar-thumb {
background:#888
}
div#example_wrapper .row .col-sm-12::-webkit-scrollbar-thumb:hover {
background:#555
}

@media(min-width:1000px) {
#carousel-indicators {
	position: fixed;
	z-index: 99999;
	bottom: 2em;
	margin: auto;
	right: 6vw
}
#carousel-indicators>ol {
	display: block
}
#carousel-indicators>ol li .fa-circle-o:before {
	color: #000
}
#carousel-indicators>ol li.active .fa-circle-o:before {
	content: "\f192";
	color: #e87d6d
}
}
#regForm {
	background-color: #fff;
	margin: 0;
	padding: 0;
	min-width: 300px
}
h1 {
	text-align: center
}
input {
	padding: 10px;
	width: 100%;
	font-size: 17px;
	font-family: Raleway;
	border: 1px solid #aaa
}
input.invalid {
	background-color: #fdd
}
.tab {
	display: none
}
button {
	background-color: #4caf50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 17px;
	font-family: Raleway;
	cursor: pointer
}
button:hover {
	opacity: .8
}
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: .5
}
.step.active {
	opacity: 1
}
.step.finish {
	background-color: #4caf50
}
